<div class="row">
    <div class="col-xs-12">
        <img [src]="currentRecipeDetails.imageUrl" alt="{{ currentRecipeDetails.name }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{ currentRecipeDetails.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div [appDropdown]="'open'" class="btn-group">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="sendToShoppingList(currentRecipeDetails.ingredients)">To Shopping List</a></li>
                <li><a routerLink="edit" style="cursor: pointer;">Edit Recipe</a></li>
                <li><a style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ currentRecipeDetails.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let ingredient of currentRecipeDetails.ingredients">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </li>
      </ul>
    </div>
</div>
